<!doctype html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/lightbox.css">
    <link rel="shortcut icon" type="image/x-icon" href="/public/img/favicon.ico">
    <style>
		.container{
			margin-top: 5%;
                  padding-left: 300px;
		}
            .container h1{
                  padding-left: 80px;
                  padding-bottom: 20px;
            }
    </style>
</head>
	<body>
		<div class="container">
            <h1> MNM games: Wie is het?</h1>
			<div class="row">
				<div class="col-sm-4">
					<a class="btn btn-block btn-default" href="/admin/properties">Properties</a>
				</div>
			
                        <div class="col-sm-4">
                              <a class="btn btn-block btn-default" href="/admin/photos">Photos</a>
                        </div>
                  </div>
	    </div>

	</body>

</html>