@font-face {
  font-weight:  400;

  font-style:   normal;
  font-family: 'Lobster';
  src: url('../fonts/Lobster.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lobster.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lobster.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lobster.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lobster.svg#5fd20774a61b9b12eebda262207233e0') format('svg'); /* Legacy iOS */
}

@font-face {
  font-weight:  400;

  font-style:   normal;
  font-family: 'PAG Revolucion';
  src: url('../fonts/PAG-Revolucion.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PAG-Revolucion.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PAG-Revolucion.woff') format('woff'), /* Modern Browsers */
       url('../fonts/PAG-Revolucion.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/PAG-Revolucion.svg#89157f2fcb61950ca5c56c544b3a32c4') format('svg'); /* Legacy iOS */
}
.mnm-flag(){
background-image: -o-linear-gradient(right, @mnm-db 0%, @mnm-db 33%, @mnm-red 33%, @mnm-red 66%, @mnm-lb 66%, @mnm-lb 100%) !important;
background-image: -moz-linear-gradient(right, @mnm-db 0%, @mnm-db 33%, @mnm-red 33%, @mnm-red 66%, @mnm-lb 66%, @mnm-lb 100%) !important;
background-image: -webkit-linear-gradient(right, @mnm-db 0%, @mnm-db 33%, @mnm-red 33%, @mnm-red 66%, @mnm-lb 66%, @mnm-lb 100%) !important;
background-image: -ms-linear-gradient(right, @mnm-db 0%, @mnm-db 33%, @mnm-red 33%, @mnm-red 66%, @mnm-lb 66%, @mnm-lb 100%) !important;
background-image: linear-gradient(to right, @mnm-db 0%, @mnm-db 33%, @mnm-red 33%, @mnm-red 66%, @mnm-lb 66%, @mnm-lb 100%) !important;
}
.bgtransition()
{
    -webkit-transition: background 0.3s ease-out, border-color 0.3s ease-out;
            transition: background 0.3s ease-out, border-color 0.3s ease-out;
}
.colortransition()
{
    -webkit-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;
}

@mnm-db: #09306C;
@mnm-red: #D9001B;
@mnm-lb: #138BD3;
@size: 14px;
@color: #00B7FF;
@darkblue : #00214a;
//@lightblue: #E1E9EE;
@lightblue : rgba(225, 233, 238, 1);
@lightgreen: #A7F041;
@pink: #D60571;
//@pink: rgba(223, 47, 136, 0.8);
@red: #DF1A1B;
@white: #FFFFFF;
@darkbluetrans: rgba(3, 49, 105, 0.55);

 html {
    height: 100%;
    // background: #033169;
    // background: #033169 url('../img/site-bg.png');
    background: white;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-family: 'Lobster';
}
h2, h3, h4, h5, h6{
    font-family: 'PAG Revolucion', 'Gil Sans';
}
body {
    min-height: 100%;
    background: url('../img/bg_stars.png');
    font: @size"Lucida Grande", Helvetica, Arial, sans-serif;
}
body.main {
    text-align: center;
    h1 {
        margin-bottom: 50px;
        font-size: 4rem;
    }
    .nav>li>a {
        margin-left: 25%;
        padding: 50px;
        width: 50%;
        background: @darkbluetrans;
        color: @white;
        font-weight: 800;
        font-size: 3rem;

        .bgtransition();

        &:hover {
            background: @pink;
            color: @white;

            .bgtransition();
        }
    }
}
.play-nav.row{
    border-radius: 5px !important;
    overflow: hidden;
    font-family: 'PAG Revolucion';
    font-size: 2.2rem;
    .nav-item{
        padding: 10px;
        padding-top: 15px;
        background: @pink;
        text-align: center;

        .colortransition();

        &:hover{
            color: @white;
            cursor: pointer;

            .colortransition();
        }
    }
    &:after{
        .mnm-flag();
        content: '';
        width: 100%;
        position: relative;
        height: 7px;
    }
}
.wrap{
    min-height: 100%;

    width:100%;
    background-repeat: repeat;
}

.attribute-options{
    display: none;
}

.nav>li>a {
    margin-bottom: 5px;
    background: @lightblue;
    color: #FFF;
    &:hover {
            // color: @lightblue;
            background: @pink;
        }
}
.nav>li>a.active{
    background: @red;
    color: @white;
}

.answer-field{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 3rem;
    font-family: 'PAG Revolucion';
    input{
        position: relative;
        z-index: 10;
        margin-top: 20px;
        padding-top: 10px;
        border: none;
        border-radius: 2px;
        background: @lightblue;
        font-size: 2rem;
        &:focus{
            border: @lightblue;
            box-shadow: none;
        }
    }
    .btn{
        position: relative;
        z-index: 10;
        margin-top: 20px;
        padding: 0px;
        padding-top: 5px;
        border-color: @pink;
        border-radius: 2px;
        background: @pink;
        font-size: 2rem;

        .bgtransition();

        &:hover {
            background: @darkblue;
            border-color: @darkblue;
        }
    }
    .current-stats{
        font-family: 'Helvetica', Arial, sans-serif;
        font-size: 1.6rem;
        padding-top: 20px;
    }
}
.mnm-flag-holder{
    .mnm-flag();
    position: relative;
    z-index: 0;
    display: block;
    visibility: visible;
    margin-top: -5px;
    width: 100%;
    height: 10px;
    border-radius: 4px;
    content: '';
}

.logo {
    max-width: 100%;
    img{
        max-width: 100%;
        max-height: 50%;
        margin-top: -30px;
    }
}
#preview img {
    max-width: 200px;
    max-height: 150px;
}

.red-border{
    border: solid red 2px;
}

.hiddenStuff{
    visibility: hidden;
}
.main #wrapper{
    background: none;
}
.main{
    position: absolute;
    top: 0;
    width: 100%;
}

.play .container{
    margin-left: 0%;
    padding: 20px;
    width: 100%;
    text-align: left;
}

.hiscores{
    ul {
        list-style-type:none;
    }
}


.lb{
    border-radius: 5px !important;
    background: url('../img/bg_stars.png');
    background-color: @lightblue;   
}

.db{
    border-radius: 5px !important;
    background: url('../img/bg_stars.png');
    background-color: @mnm-lb;
}

.photos{
    padding: 10px;
}

#wrapper{
    margin-left: 10%;
    border-radius: 5px;
    background: white;
}

.audio{
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    padding-right: 30px;
    font-weight: 800;
    font-size: 13pt;
    font-family: tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
    a{
        color: @white;
        text-decoration: none;

    }
}

img{
    max-width: 100%;
}

.object-item{
    height: 230px;
}