html{height:100%}
body{font:14px "Lucida Grande",Helvetica,Arial,sans-serif;background:url('../img/site-bg.png');height:100%}
body.main{text-align:center}body.main h1{font-size:4rem;margin-bottom:50px}
body.main .nav>li>a{padding:50px;font-size:3rem;font-weight:800;width:50%;margin-left:25%;color:#fff}body.main .nav>li>a:hover{color:#39b9e9;background:#fff}
.attribute-options{display:none}
.nav>li>a{color:#fff}.nav>li>a:hover{color:#39b9e9;background:#fff}
.nav>li>a.active{color:#39b9e9;background:#a7f041}
.logo{position:absolute;top:20px;left:20px}
#preview img{max-width:200px;max-height:150px}
.red-border{border:solid #f00 2px}
.hiddenStuff{visibility:hidden}
